.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-size: 12px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        text-align: center;
        span {
            display: block;
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: right;
        font-weight: 700px;
        text-decoration: none;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end
;    }
}